{% extends "core/base.html" %}
{%block content %}
<div class="container py-5">
    <h1 class="mb-5">Seu carrinho</h1>
    <div class="row">


        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    {%for i in "12345"%}
                    <div id="node-{{i}}" class="row cart-item mb-3">
                        <div class="col-md-3">
                            <img src="https://picsum.photos/100" alt="" class="img-fluid rounded">
                        </div>
                        <div class="col-md-4">
                            <h5 class="card-title">Perfume {{i}}</h5>
                            <p class="text-muted">Categoria: Teste</p>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="number" value="1" min="1" class="form-control" id="quantity" style="width: 80px">
                            </div>
                        </div>
                        <div class="col-md-2 text-end">
                            <p class="fw-bold">R$50.00</p>
                            <button class="btn btn-sm btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card" style="background-color: #f8f9fa; border-radius: 10px;">
                <div class="card-body">
                    <h5 class="card-title mb-4">Produtos</h5>
                    <hr>
                    <div class="d-flex justify-content-between mb-4">
                        <strong>Total</strong>
                        <strong>R$50.00</strong>
                    </div>
                    <button class="btn btn-primary w-100">Comprar</button>
                </div>
            </div>
        </div>
    </div>


</div>
{%endblock%}