{% extends "core/base.html" %} {%block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Catálogo</h1>
    <p class="lead text-muted py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptates ea explicabo! Debitis, sapiente illo quia, alias consequuntur at asperiores inventore architecto, ratione ad ducimus veniam! Odit reprehenderit quis atque.</p>

  </div>
</section>
<div class="container">
  
  <div class="row row-cols-3 g-3">
  {%for i in "12345"%}
    <div class="col">

      <div class="card" style="max-width: 18rem">
        <div>
          <a href="produto/{{i}}">
            <img
            src="https://picsum.photos/200"
            class="img-fluid w-100 h-100"
            style="object-fit: cover"
            alt=""
            />
          </a>
        </div>

        <div class="card-body overflow-auto">
          <h5 class="card-title">Card Title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
            voluptate laudantium, culpa libero praesentium cum molestiae
            deleniti maxime dignissimos reiciendis sapiente id, quod optio quo
            distinctio eos at eveniet natus!
          </p>
          <a href="produto/{{i}}" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>

      {%endfor%}
    </div>
</div>
{%endblock%}
