{% extends 'base.html' %}
{% block 'title'%} Sobre {% endblock 'title'%}
{% block 'content' %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sobre nós...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bem vindo a Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8"></div>
            <p align="justify">
                <br><br> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultricies, nisl id rutrum tincidunt, nulla lacus bibendum arcu, at sodales augue felis a ligula. Nullam et ornare diam. Suspendisse lobortis magna nec urna interdum, sed congue ligula commodo. Pellentesque volutpat, nibh sagittis tempus ornare, augue lorem suscipit mi, vel accumsan est odio non lectus. Aliquam tempus elementum purus, vitae hendrerit est elementum eget. Aenean non enim interdum, accumsan mauris nec, imperdiet dolor. Ut egestas in lacus tempor maximus. Vestibulum vestibulum pulvinar lectus, id molestie nulla tempor eu. Mauris dapibus interdum mi eu tristique. Donec vehicula magna vitae rhoncus fringilla. Suspendisse convallis magna metus, quis accumsan magna convallis id. Duis sollicitudin nisl iaculis diam dictum ultrices. Praesent leo diam, vulputate sollicitudin risus nec, bibendum tempor tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
<br><br>
Nunc orci mauris, tempor a semper in, aliquam vitae neque. Mauris euismod nisi ut elit maximus eleifend. In convallis nisl ante, nec gravida ligula tristique non. Integer tincidunt, massa vitae molestie sodales, ex est consequat urna, sit amet tempus risus turpis lacinia quam. Fusce id magna vel leo imperdiet gravida sed vel erat. Phasellus ut justo a massa semper iaculis nec sit amet metus. Duis blandit, ante a scelerisque eleifend, ex neque ornare lectus, quis ultricies tortor nulla ac dolor. Pellentesque egestas pharetra libero eget fringilla. Aliquam ac sem suscipit, egestas nisi ut, accumsan neque. Suspendisse in interdum est, eget rutrum arcu. Maecenas quis purus mauris. Fusce dui magna, porta at enim vulputate, convallis tempus ligula. In id magna lacinia, suscipit justo sit amet, cursus felis.
<br><br>
Fusce fringilla enim non tellus dictum euismod. Aenean sed elit in nibh ornare luctus eget blandit metus. Ut at massa libero. Donec ac hendrerit erat. Nam sit amet feugiat tortor. Etiam imperdiet lobortis augue. Phasellus euismod dolor eget sollicitudin hendrerit. Maecenas fermentum, dui at placerat vulputate, magna orci maximus augue, id laoreet nibh augue et ligula. Maecenas volutpat tempor enim quis tincidunt. Integer elementum quis quam vel suscipit. Ut rutrum, erat eget suscipit venenatis, nisl lectus tristique sem, non dignissim nibh purus in leo. Donec hendrerit ligula a tortor malesuada semper. Curabitur magna risus, dapibus in nisi et, posuere lobortis elit. Mauris finibus efficitur elit, venenatis sodales arcu tincidunt quis.
<br><br>
Sed in ipsum nec ipsum volutpat accumsan. Praesent diam tortor, condimentum et dignissim vel, convallis non tortor. Fusce luctus turpis neque, vitae tempus tellus malesuada ut. Aliquam a imperdiet arcu. Praesent tempus massa id sagittis faucibus. Aenean dapibus elementum ornare. Maecenas eu diam metus. Phasellus quis massa a purus consectetur volutpat nec sodales nunc. Nulla facilisi. Praesent nunc mi, lobortis id sodales at, luctus vel nulla. Praesent convallis porttitor blandit. Mauris porta velit ut maximus porttitor.
<br><br>
Suspendisse potenti. Nulla sagittis erat enim, vitae tristique nibh gravida non. Sed at ultricies tellus. Curabitur et ligula luctus, tincidunt justo id, faucibus metus. Ut eget libero at nisl interdum consequat. Mauris non erat et augue ultrices vulputate. Proin interdum orci id rhoncus congue.
            </p>
        </center>
    </div>
</div>

{% endblock 'content' %}