{% extends 'base.html'%}
{% block 'title'%} Registre-se {% endblock 'title'%}
{% block 'content'%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Registre-se</h1>
            <p class="lead fw-normal text-white-50 mb-0">Registre-se no nosso site</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br><br>
                    <button type="submit" class="btn btn-secondary">
                        Registrar
                    </button>
                </form>  
                <br><br>
                <br><br>
                <br><br>
                <br><br>
            </div>
    </div>
</div>


{% endblock 'content'%}