{% extends 'base.html'%}
{% block 'title'%} Suas Informações{% endblock 'title'%}
{% block 'content'%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Atualizar informações</h1>
            <p class="lead fw-normal text-white-50 mb-0">Atualizar informações do usuário</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <strong>Informações para cobrança</strong>
                <br><br>
                <form method="POST" action="{% url 'update_info' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br><br>
                    <strong>Informação para envio</strong>
                    <br><br>
                    {{ shipping_form.as_p }}

                    <br><br>
                    <button type="submit" class="btn btn-secondary">
                        Atualizar Informações
                    </button>
                </form>  
                <br><br>
                <br><br>
                <br><br>
                <br><br>
            </div>
    </div>
</div>

 
{% endblock 'content'%}