{% extends 'base.html' %}
{% block 'content' %}

<div class="container">
    <div class="row">
        <center>
            <div class="col-8"></div>
            <h3>Itens enviados</h3>
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                  <tr>
                    <th scope="col">Pedido</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Email do cliente</th>
                    <th scope="col">Data do envio</th>
                    <th scope="col">Enviado</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in orders %}
                  <tr>
                    <td><a href="{% url 'orders' item.id %}">{{item.id}}</a></td>
                    <td>${{item.amount_paid}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.date_shipped}}</td>
                    <td>
                      <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="shipping_status" value="true">
                        <input type="hidden" name="num" value="{{item.id}}">
                        <button type="submit" class="btn btn-success btn-sm">Marcar enviado</button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </center>
    </div>
</div>

{% endblock 'content' %}